#first {
    background-color: brown;
    color: chartreuse;
    height: 250px;
}

#second {
    background-color: yellowgreen;
    color: black;
    height: 250px;
}

#header1 {
    background-color: black;
    color: blanchedalmond;
}

#header2 {
    background-color: blue;
    color: gold;
}